{
  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "extends": [
    "@strv/react",
    "@strv/react/optional",
    "@strv/typescript",
    "prettier",
    "prettier/react"
  ],

  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "ignoreRestSiblings": true
      }
    ],
    "react/forbid-dom-props": "off",
    "react/prop-types": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/restrict-template-expressions": [
      "warn",
      {
        "allowNumber": true
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": ["Event", "Image"]
      }
    ],
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "~/**",
            "group": "external",
            "position": "after"
          }
        ]
      }
    ]
  }
}
