---
interface Props {
  title: string;
  gray?: boolean;
}

const { title, gray } = Astro.props;
---

<section
  class:list={[
    'min-h-[90vh] text-center flex flex-col pt-[15vh]',
    gray && 'bg-[#111114]',
  ]}
>
  <h2 class="relative p-0 m-0 leading-10 text-primary text-[1.6rem] font-teko font-semibold uppercase z-0 after:content-[''] after:h-10 after:w-5 after:absolute after:-top-0.5 after:left-1/2 after:-ml-2.5 after:bg-[#252528] after:-z-10">
    {title}
  </h2>
  <div class="flex flex-1 items-center">
    <div class="w-full max-w-container mx-auto px-[15px] xl:px-0">
      <slot />
    </div>
  </div>
</section>
