---
interface Props {
  title: string
  gray?: boolean
}

const { title, gray } = Astro.props
---

<section
  class:list={[
    'flex min-h-[90vh] flex-col pt-[15vh] text-center',
    gray && 'bg-[#111114]',
  ]}
>
  <h2
    class="relative z-0 m-0 p-0 font-anton text-[1.6rem] font-semibold uppercase leading-10 text-primary after:absolute after:-top-0.5 after:left-1/2 after:-z-10 after:-ml-2.5 after:h-10 after:w-5 after:bg-[#252528] after:content-['']"
  >
    {title}
  </h2>
  <div class="flex flex-1 items-center">
    <div class="mx-auto w-full max-w-container px-[15px] xl:px-0">
      <slot />
    </div>
  </div>
</section>
