---
// Root index redirects to /cs/
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/cs/" />
    <link rel="canonical" href="/cs/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <script is:inline>
      window.location.replace('/cs/')
    </script>
    <noscript><a href="/cs/">Click here</a></noscript>
  </body>
</html>
