---
// Root index redirects to /en/
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/en/" />
    <link rel="canonical" href="/en/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <script is:inline>
      window.location.replace('/en/')
    </script>
    <noscript><a href="/en/">Click here</a></noscript>
  </body>
</html>
