---
import { Image } from '@datocms/astro'
import type { FileField } from '~/api/generated/types'

interface Props {
  photos: FileField[]
}

const { photos } = Astro.props
---

<div class="mx-auto w-full max-w-[1077px] max-w-container px-[15px] xl:px-0">
  {
    photos.map((item) => (
      <figure class="mb-0 mt-[50px]">
        <Image
          data={{
            ...item.responsiveImage!,
            alt: Array.isArray(item.smartTags)
              ? item.smartTags.filter(Boolean).join(', ')
              : '',
          }}
        />
        <figcaption class="relative z-10 -mt-[0.45em] ml-5 font-anton text-[3rem] uppercase leading-none text-primary sm:text-[3.4rem] md:text-[3.8rem] lg:text-[4rem]">
          {item.title}
        </figcaption>
        <span class="ml-5 text-[1.6rem] text-secondary md:text-[1.8rem]">
          {item.alt}
        </span>
      </figure>
    ))
  }
</div>
