---
import Heading from '~/components/Heading.astro'

interface Props {
  categoryTitle: string
}

const { categoryTitle } = Astro.props
const titleWords = categoryTitle.split(' ')
const firstWord = titleWords[0] ?? categoryTitle
const secondWord = titleWords.slice(1).join(' ')
---

<div class="flex flex-wrap items-end justify-between gap-4">
  <div class="flex w-full min-w-0 flex-col gap-[6px] md:w-auto">
    <Heading level={2} size="subtitle-compact" class="m-0 text-white">
      <span class="block md:inline">{firstWord}</span>
      {
        secondWord ? (
          <span class="block md:ml-2 md:inline">{secondWord}</span>
        ) : null
      }
    </Heading>
  </div>
</div>

<div class="mt-2"></div>
